{% extends 'legend/base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'en' %}
<style >
html,body{
background-image: url("{% static 'images/road.jpeg' %}");
min-height: 100%;
background-position: center;
background-size: cover;
</style>
<body>
<p></p>

<div class="container" >
  <div class="row  justify-content-center align-items-center" >

<div class="  card text-black bg-light mb-3  " style="max-width:100%;">
  <div class="card-header" ><h3 style ="font-family: 'Aref Ruqaa', serif;">Type the email you provided with the registration form.</h3>
  <h5>an email will be sent to the same adress with instructions to reset the accompanying account.</h5></div>
  <div class="card-body " >
    <form method="POST">
      {% csrf_token %}
      {{ form|bootstrap }}
      <input class="btn btn-outline-dark" type="submit" value="Send e-mail">
    </form>
  </div>
  </div>
  </div>
  </div>
</body>

        {% elif LANGUAGE_CODE == 'ar' %}
        <style>
        h1,h2,h3,h4,h5,h6,div ,p{direction: rtl;align-items:right;}
        html,body{
          background-image: url("{% static 'images/road.jpeg' %}");

          background-repeat: no-repeat;
          background-size: cover ;
        height: 100%;}
        </style>
        <body>
          <p></p>

          <div class="container ">
            <div class="row  justify-content-center align-items-center">
          <div class=" card text-black bg-light mb-3 text-right " style="max-width:100%;">
            <div class="card-header" ><h3 style ="font-family: 'Aref Ruqaa', serif;">أدخل عنوان البريد الالكتروني الذي   كتبت عند تسجيل حسابك في الموقع:</h3>
            <h5>سيتم إرسال رسالة الكترونية إلى نفس البريد الالكتروني مع تعليمات إعادة كلمة السر</h5></div>
            <div class="card-body " >
              <form method="POST">
                {% csrf_token %}
                {{ form|bootstrap }}
                <input class="btn btn-outline-dark" type="submit" value="أرسال">
              </form>
            </div>
            </div>
            </div>
            </div>
</body>
{% endif %}
{% endblock %}
  
