{% extends 'legend/base.html' %}
{% load i18n %}
{% load static %}
{% load bootstrap %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'en' %}
<style >
html,body{
background-image: url("{% static 'images/road.jpeg' %}");
min-height: 100%;
background-position: center;
background-size: cover;
</style>
<body>
<p></p>

<div class="container" >
  <div class="row  justify-content-center align-items-center" >

<div class="  card text-black bg-light mb-3  " style="max-width:100%;">
  <div class="card-header" ><h1 style ="font-family: 'Aref Ruqaa', serif;">Check the e-mail inbox, please</h1>
  <h5>an e-mail was sent to the same adress with instructions to reset the accompanying account.</h5></div>
  <div class="card-body " >
    <h6>just to know</h6>
    <h6>how this resseting works.</h6>
    <h6>You typed an e-mail</h6>
    <h6>The website checked for an account with that e-mail</h6>
    <h6>If an account exists,an e-mail would be sent to that e-mail adress with password change link of that account  </h6>
    <h6>if there was no account with that e-mail, it basically does nothing </h6>
  </div>
  </div>
  </div>
  </div>
</body>

        {% elif LANGUAGE_CODE == 'ar' %}
        <style>
        h1,h2,h3,h4,h5,h6,div ,p{direction: rtl;align-items:right;}
        html,body{
          background-image: url("{% static 'images/road.jpeg' %}");

          background-repeat: no-repeat;
          background-size: cover ;
        height: 100%;}
        </style>
        <body>
          <p></p>

          <div class="container ">
            <div class="row  justify-content-center align-items-center">
          <div class=" card text-black bg-light mb-3 text-right " style="max-width:100%;">
            <div class="card-header" ><h1 style ="font-family: 'Aref Ruqaa', serif;">تأكد من وارد البريد الإلكتروني ،لطفا.</h1>
            <h5>تم إرسال رسالة مع معلومات إعادة الرقم السري إلى نفس البريد الإلكترونيز</h5></div>
            <div class="card-body " >
              <h6>للعلم فقط.</h6>
              <h6>شلون تشتغل  إعادة الحساب</h6>
              <h6>إستوك كتبت عنوان بريد إلكتروني</h6>
              <h6>راح يدور الموقع -النظام- عن حساب بيه نفس الإيميل</h6>
              <h6>إذا اكو حساب بيه نفس الإيميل راح يدز رسالة لنفس العنوان   </h6>
              <h6>وإذا ماكو ،راااااح كلشي ميسوي صراحة </h6>

            </div>

            </div>
            </div>
            </div>
</body>
{% endif %}
{% endblock %}
  
