{% extends 'legend/base.html' %}
{% load i18n %}
{% load static %}

{% load bootstrap %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style >
html,body{
background-image: url("{% static 'images/road.jpeg' %}");
min-height: 100%;
background-position: center;
background-size: cover;
</style>

<body>
  <p></p>

  <div class="container ">
    <div class="row  justify-content-center align-items-center">

      <div class="  card text-black bg-white mb-3  " style="max-width:100%;">
        <div class="card-header" ><h1 style ="font-family: 'Aref Ruqaa', serif;">ADD a medication:</h1></div>
        <div class="card-body" >
          <div class="card-text">
            <form  method="POST">
              {% csrf_token %}
            {{form|bootstrap}}
              <div class="card-footer"><h2><input type="submit" class="btn btn-dark" value="SAVE"></div>
</form>
        </div>
        </div>
        </div>
        </div>
    <br>
            </div>

</body>

{% endblock %}
