{% extends "legend/base.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa&display=swap" rel="stylesheet">
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'en' %}
<style >
  html,body{
    background-image: url("{% static 'images/road.jpeg' %}");

    min-height: 100%;
    background-position: center;
    background-size: cover;
  }
</style>
<body>
<p></p>
<div style="width:90%" class="card text-white bg-dark mb-3 " >
  <div class="card-header  "> <h1 style ="font-family: 'Aref Ruqaa', serif;">Update,if you like:</h1></div>
        <div class="card-body">
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
            {{ form|bootstrap }}
          <input type="submit" class="btn btn-primary" name="" value="Update">
        </form>
  </div>
  <div class="card-footer">You can also: </div>
  <div class="card-text">
    <a style="color:#006652;" class="w3-button w3-black" href="{% url 'legend:patientuser_update' user.pk %}" >Edit User information</a>
    <a style="color:#006652;" class="w3-button w3-black" href="{% url  'password_change'  %}" >Change password</a>
    <p></p>
  </div>

  </div>
  </body>

  {% elif LANGUAGE_CODE == 'ar' %}
  <style >
    html,body,h1,h2,h3,h4,h5,h6,div ,p{direction: rtl;align-items:right;}
    html,body{
      background-image: url( '/static/images/road.jpeg' );

      min-height: 100%;
      background-position: center;
      background-size: cover;
    }
  </style>
  <body>
  <p></p>
  <div style="width:90%" class="card text-white bg-dark mb-3 text-right" >
    <div class="card-header  "> <h1 style ="font-family: 'Aref Ruqaa', serif;">سجل معلوماتك هنا</h1></div>
          <div class="card-body">
          <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
              {{ form|bootstrap }}
            <input type="submit" class="btn btn-primary" name="" value="تحديث">
          </form>
    </div>
    <div class="card-footer">كما يمكنك: </div>
    <div class="card-text">
      <a style="color:#006652;" class="w3-button w3-black" href="{% url 'legend:patientuser_update' user.pk %}" >تحديث معلومات المستخدم</a>
      <a style="color:#006652;" class="w3-button w3-black" href="{% url  'password_change'  %}" >تغيير كلمة السر </a>
      <p></p>
    </div>
    </div>
    </body>
  {% endif %}
{% endblock %}
